* {
  margin: 0;
  padding: 0
}

:root {
  --duration: 400ms;
  --easing: cubic-bezier(0.19, 1, 0.22, 1);
  --pop: cornflowerblue;
}

body {
  font: 13px/1.5 Helvetica, Arial, FreeSans, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: black;
  height: 100vh;
}

.tree-holder {
  padding: 50px;
  width: 300px;
  position: fixed;
  left: 100px;
  background-color: #1A1B23;
}

ol.tree,
ol.tree ol,
li.drag ol {
  position: relative;
  list-style-type: none;
}

ol.tree ol,
li.drag ol {
  padding-left: 24px;
  /* background-color: rgba(255, 0, 242, 0.2); */
}

ol.tree li,
li.drag,
li.drag li {
  position: relative;
  display: block;
  z-index: 10;
  font: bold 16px/36px Helvetica;
  cursor: move;
  transition: opacity 300ms ease;
  border-top: 1px solid #333333;
  color: white;
}

/* the original element getting cloned and placed */
ol.tree li.is-disabled-while-dragging {
  opacity: 0.2;
  transition: opacity var(--duration) var(--easing);
  will-change: opacity;
}

ol.tree li.is-clone-dragging {
  position: fixed;
  z-index: 30000;
  opacity: 0;
  pointer-events: none;

  background-color: #555555;
  border-radius: 3px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.33);
  padding: 0 10px;
}

.tree-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 8px;
  z-index: 1000;
  transition:
    transform var(--duration) var(--easing),
    width var(--duration) var(--easing);
  will-change: transform, width;
}

.tree-bar::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  margin-left: -8px;
  z-index: 50;
  border-radius: 20px;
  border: 2px solid var(--pop);
}

.tree-bar::after {
  content: '';
  position: absolute;
  top: 3px;
  width: 100%;
  height: 2px;
  z-index: 50;
  background-color: var(--pop);
}
